#header{
  height: 15vh;
  width: 100%; 
  background-color: #f58b57;
}

#header li{
  font: bold 2.5vmin Helvetica;
  margin: 0px 10px;
  display: inline;
  text-decoration:none;
}

#header a:visited{
  color:black;
}

ul{
  display: inline;
} 

li a{
  font: bold 2.5vmin Helvetica;
  text-decoration:none;
  float: left;
  margin: 15px 10px;

}

